.THIS {
}

.THIS .newProductContainer__title {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: #f1f0f4;
    border-radius: 5px;
    margin-bottom: 10px;
}

.THIS .newProductContainer__content__right__title {
    margin-bottom: 0;
}

.THIS .newProductContainer__content__left {
}
