.THIS {
    width: 100% !important;
}

.THIS .discountsContainer {
    padding: 10px;

}

.THIS .discountsContainer__title {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: #f1f0f4;
    border-radius: 5px;
    margin-bottom: 10px;
}

.THIS .discountsContainer__discountsTables {
    margin-top: 10px;
}

.THIS .discountsContainer__form {
    background-color: #ffffff;
    border-radius: 5px;
}

.THIS .discountsContainer__discountsTables {
    background-color: #ffffff;
    border-radius: 5px;
}

.THIS .discountsContainer__form__left {
    border-right: 1px solid #ededed;
}

.THIS .discountsContainer__discountsTables__leftSection {

}

.THIS .discountsContainer__discountsTables__rightSection {
}