.THIS {
    margin: 5px;

}

.THIS .title {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: #f1f0f4;
    border-radius: 5px;
    margin-bottom: 10px;
}

.THIS .newDiscountFormContainer {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
}

.THIS .newDiscountFormContainer__emails__title {
    color: rgb(62, 62, 60);
    font-size: 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 0.125rem;
    font-weight: bold;
}

.THIS .newDiscountFormContainer__emails__new button {
    width: 100%;
}

.THIS .newDiscountFormContainer__controls {
    margin-top: 10px;
}