.THIS {
}

.THIS .newDiscountRequestContainer {

}

.THIS .newDiscountRequestContainer__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f0f4;
    border-radius: 5px;
}

.THIS .newDiscountRequestContainer__body {

}

.THIS .newDiscountRequestContainer__controls {
    margin-top: 15px;
}