.THIS {
}

.THIS .watchListContainer {
    background-color: white;
    padding: 5px;
}

.THIS .watchListContainer__title {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    background-color: #f1f0f4;
    border-radius: 5px;
}